## Lines starting with '#' are considered comments.
## Ignore any file named foo.txt.
# foo.txt
## Ignore (generated) html files,
* .html
## except foo.html which is maintained by hand.
# !foo.html
## Ignore objects and archives.
# *.[oa]

VRL-UG4/build
VRL-UG4/dist

.DS_Store

tmp
/VRL-UG4/nbproject/private/
/VRL-UG/nbproject/private/
/VRL-UG/dist/
/VRL-UG/build/