## Lines starting with '#' are considered comments.
## Ignore any file named foo.txt.
# foo.txt
## Ignore (generated) html files,
* .html
## except foo.html which is maintained by hand.
# !foo.html
## Ignore objects and archives.
# *.[oa]

VRL-UG4/build
VRL-UG4/dist

.DS_Store

tmp
/VRL-UG/nbproject
/VRL-UG/dist/
/VRL-UG/build/
/VRL-UG/build*
/VRL-UG/src/eu/mihosoft/vrl/natives/linux/x64/
/VRL-UG/src/eu/mihosoft/vrl/natives/linux/x86/
/VRL-UG/src/eu/mihosoft/vrl/natives/osx/
/VRL-UG/src/eu/mihosoft/vrl/natives/windows/x64/
/VRL-UG/src/eu/mihosoft/vrl/natives/windows/x86/
